.Navigation-root {
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(236, 236, 236);
  align-items: center;

  %center {
    display: flex;
    align-items: center;
  }

  &__near {
    font-size: 1.2rem;
    @extend %center;
  }
  &__far {
    font-size: 1.2rem;
    @extend %center;
  }
  &__logo {
    font-size: 2rem;
    @extend %center;
  }
}
