.Loader-root {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;

  .spinner {
    border-radius: 50%;

    /*Default animation code*/
    transition-property: transform;
    transition-duration: 1s;
    animation-name: rotate; /*Call to @keyframe rule*/
    animation-iteration-count: infinite; /*Make the animation go forever*/
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);

    /*Default @keyframes rule*/
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.spinner-fadout {
  z-index: -1;
  opacity: 0;
}
