.Loader-root {
  .spinner {
    border-radius: 50%;

    /*Default animation code*/
    transition-property: transform;
    animation-name: rotate; /*Call to @keyframe rule*/
    animation-duration: 2s; /*Change to speed up or slow down the animation*/
    animation-iteration-count: infinite; /*Make the animation go forever*/
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);

    /*Default @keyframes rule*/
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
