.Loader-root {
  width: 40px;
  height: 40px;
  border: 4px solid #fcd779;
  border-top: 4px solid white;
  border-radius: 50%;

  /*Default animation code*/
  transition-property: transform;
  animation-name: rotate; /*Call to @keyframe rule*/
  animation-duration: 1.2s; /*Change to speed up or slow down the animation*/
  animation-iteration-count: infinite; /*Make the animation go forever*/
  animation-timing-function: linear;

  /*Default @keyframes rule*/
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
