@import "../styles/_variables";

.CallToAction-root {
  @include RegularFont;
  max-height: 60px;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px 10px;
  background-color: #8385bd;
  color: white;
  min-width: 200px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 5px 1px rgb(196, 196, 196),
    -1px -1px 5px 2px rgb(236, 236, 236);
  transition: all ease-in-out 0.1s;
  text-decoration: none;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: darken($color: #8385bd, $amount: 10);
  }
}
