@import "../styles/_variables";
$sizes: 0.85rem, 0.9rem, 1rem, 1.05rem, 1.1rem;

$BG: linear-gradient(
  11deg,
  rgba(2, 0, 36, 0.5) 0%,
  rgba(9, 9, 121, 0.5) 0%,
  rgba(0, 212, 255, 0.5) 100%
);

.CallToAction-root {
  @include RegularFont;
  min-width: 150px;
  width: 100%;
  max-width: 400px;
  transition: all ease-in-out 0.1s;
}

.CallToAction-outline {
  border: solid 1px rgba(9, 9, 121, 0.5);
  background: white;
  color: black;

  &:hover {
    cursor: pointer;
    background: rgb(247, 247, 253);
    color: black;
  }
}

.CallToAction-full {
  border: none;
  background: #8484bc;
  color: white;

  &:hover {
    cursor: pointer;
    background: darken(#8484bc, 10);
    color: white;
  }
}

@for $i from 1 to 6 {
  .CallToAction-size-#{$i} {
    height: 20px + $i * 5.25px;
    font-size: nth($sizes, $i);
  }
}
