@import "./Helper";

.header-main--style-h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.09375rem;
  margin: 0;
}

.header-main--style-h2 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.03125rem;
  margin: 0;
}

.header-main--style-h3 {
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0;
}

.header-main--style-h4 {
  font-size: 2.125rem;
  font-weight: normal;
  letter-spacing: 0.015625rem;
  margin: 0;
}

.header-main--style-h5 {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0;
  margin: 0;
}

.header-main--style-h6 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
  margin: 0;
}