@mixin generate-larger-and-smaller-fonts($baseSize, $amount: 0.5rem) {
  &[font-size="smaller"] {
    font-size: $baseSize - $amount;
  }
  &[font-size="larger"] {
    font-size: $baseSize + $amount;
  }
}
