@font-face {
  font-family: "Raleway-Light";
  font-weight: 100;
  src: url("../fonts/Raleway-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Thin";
  font-weight: 100;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Regular";
  font-weight: 400;
  src: url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Medium";
  font-weight: 800;
  src: url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Bold";
  font-weight: 800;
  src: url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-display: swap;
}
