.ImageCard-root__content {
  padding: 5px 10px;
  line-height: 1.6rem;
  font-feature-settings: "lnum";
  font-family: "Raleway-Regular";
  box-sizing: border-box;
}

.ImageCard-root__container {
  position: relative;
}

.ImageCard-root__image {
  width: 100%;
  height: 100%;
}

.ImageCard-root__title {
  padding: 10px 0 0 10px;
  display: flex;
  box-sizing: border-box;
}

// style  1

// position: absolute;
// bottom: 4px;
// left: 0px;
// right: 0;
// box-sizing: border-box;
// padding: 10px;
// color: white;
// font-family: "Raleway-light";
// font-size: 2rem;
// background-color: rgba(0, 0, 0, 0.8);
