.ImageCard-root__content {
  padding: 5px;
}

.ImageCard-root__container {
  position: relative;
}

.ImageCard-root__image {
  width: 100%;
  height: 100%;
}

.ImageCard-root__title {
  position: absolute;
  bottom: 4px;
  left: 0px;
  right: 0;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  font-family: "Raleway-light";
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.4);
}
