@import "../styles/_variables";

$sizes: 0.8rem, 0.9rem, 1rem, 1.1rem, 1.2rem;

@mixin variable-styles {
  /**
	*	Variable styles refer to styles that will be added or removed programmatically
	*/
  .label-container {
    .standard-outline:focus {
      $standard_outline_color: #4682b4; // Steel Blue
      border: solid $standard_outline_color 1px;
      box-shadow: 0px 0px 1px 1px $standard_outline_color;
    }

    .error-outline:focus {
      $error_outline_color: #ca3433; // Persian Red
      border: solid $error_outline_color 1px;
      box-shadow: 0px 0px 1px 1px $error_outline_color;
    }

    .warning-outline:focus {
      $warning_outline_color: #fedc56; // Mustard Yellow
      border: solid $warning_outline_color 1px;
      box-shadow: 0px 0px 1px 1px $warning_outline_color;
    }
  }
}

@for $i from 1 to 6 {
  .TextInput-radius-#{$i} .input {
    border-radius: $i * 1.25px;
  }
}

@for $i from 1 to 6 {
  .TextInput-size-#{$i} {
    height: 20px + $i * 5.25px;
    .label-container {
      height: inherit;

      .label-text {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 15px;
        display: flex;
        transition: all ease 0.2s;
        font-size: 0.9rem;
        align-items: center;
      }

      .label-text-active {
        padding: 7px 5px;
        top: -7px;
        font-weight: lighter;
        color: rgb(104, 104, 104);
        bottom: 25px + $i * 5.25px;
        background: white;
      }
    }

    .input {
      font-size: nth($sizes, $i);
    }
  }
}

.TextInput-root {
  @include variable-styles;
  @include RegularFont;
  padding: 10px;

  .label-container {
    display: flex;
    flex-flow: column;
    position: relative;

    .input {
      @include MediumFont;
      border: solid 1px rgb(88, 88, 88);
      font-weight: normal;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding-left: 10px;

      &:focus {
        outline: none;
      }
    }
  }
}
