@import "../styles/_variables";

@mixin variable-styles {
  /**
	*	Variable styles refer to styles that will be added or removed programmatically
	*/
  .label-container {
    .label-text-active {
      font-weight: lighter;
      color: rgb(104, 104, 104);
      transform: translate(12px, -0.5em) scale(0.9);
    }

    .label-text-inactive {
      transform: translate(10px, 0.5rem);
    }

    .standard-outline:focus {
      $standard_outline_color: #4682b4; // Steel Blue
      border: solid $standard_outline_color 1px;
      box-shadow: 0px 0px 1px 1px $standard_outline_color;
    }

    .error-outline:focus {
      $error_outline_color: #ca3433; // Persian Red
      border: solid $error_outline_color 1px;
      box-shadow: 0px 0px 1px 1px $error_outline_color;
    }

    .warning-outline:focus {
      $warning_outline_color: #fedc56; // Mustard Yellow
      border: solid $warning_outline_color 1px;
      box-shadow: 0px 0px 1px 1px $warning_outline_color;
    }
  }
}

.TextInput-root {
  @include variable-styles;
  @include RegularFont;
  box-sizing: border-box;

  .label-container {
    display: flex;
    flex-flow: column;
    position: relative;
    height: 35px;
    max-width: 250px;
    padding: 10px;

    .label-text {
      box-sizing: border-box;
      transition: all ease 0.2s;
      font-size: 0.9rem;
      background-color: white;
      padding: 0px 5px;
      position: absolute;
      cursor: text;
    }

    .input {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      padding-left: 10px;

      &:focus {
        outline: none;
      }
    }
  }
}
