@import "../styles/_variables";

$sizes: 0.8rem, 0.85rem, 0.9rem, 1rem, 1.05rem;

@mixin variable-styles {
  /**
	*	Variable styles refer to styles that will be added or removed programmatically
	*/
  .standard-outline:focus {
    $standard_outline_color: #4682b4; // Steel Blue
    border: solid $standard_outline_color 1px;
    box-shadow: 0px 0px 1px 1px $standard_outline_color;
  }

  .error-outline:focus {
    $error_outline_color: #ca3433; // Persian Red
    border: solid $error_outline_color 1px;
    box-shadow: 0px 0px 1px 1px $error_outline_color;
  }

  .warning-outline:focus {
    $warning_outline_color: #fedc56; // Mustard Yellow
    border: solid $warning_outline_color 1px;
    box-shadow: 0px 0px 1px 1px $warning_outline_color;
  }
}

@for $i from 1 to 6 {
  .TextInput-radius-#{$i} .input {
    border-radius: $i * 1.25px;
  }
}

@for $i from 1 to 6 {
  .TextInput-size-#{$i} {
    height: 20px + $i * 5.25px;
    .label-container {
      .label-text {
        font-size: nth($sizes, $i);
        line-height: 1rem;
        top: 0;
      }

      .label-text-active {
        font-size: nth($sizes, $i) - 0.15rem;
        color: rgb(104, 104, 104);
        top: -(10px + $i * 2.5px);
        line-height: 5px;
        background-color: white;
        padding: 0px 5px;
      }
    }

    .input {
      font-size: nth($sizes, $i);
    }
  }
}

.TextInput-root {
  @include variable-styles;
  @include RegularFont;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;

  .label-container {
    position: absolute;
    height: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 13px;

    .label-text {
      transition: all ease 0.2s;
      position: relative;
    }
  }

  .input {
    @include MediumFont;
    border: solid 1px rgb(88, 88, 88);
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;

    &:focus {
      outline: none;
    }
  }
}
