@mixin body-type-sizes {
  &--size-small {
    font-size: $body-type-size-small;
  }
  &--size-normal {
    font-size: $body-type-size-normal;
  }
  &--size-large {
    font-size: $body-type-size-large;
  }
  &--size-xlarge {
    font-size: 1.8rem;
  }
}

@mixin body-type-weights {
  &--weight-thin {
    font-family: "Raleway-Thin";
  }
  &--weight-light {
    font-family: "Raleway-Light";
  }
  &--weight-regular {
    font-family: "Raleway-Regular";
  }
  &--weight-bold {
    font-family: "Raleway-Bold";
  }
}

@mixin effects {
  &--truncate {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@mixin scrollable {
  &--scrollable {
    overflow-y: auto;
  }
}

@mixin card-styles {
  &--shadow-heavy {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2),
      0px -10px 10px 0px rgb(240, 240, 240);
  }
  &--shadow-light {
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2),
      0px -3px 2px 0px rgb(240, 240, 240);
  }
}

%position-base {
  display: flex;
}

.helper--spacing-left {
  @extend %position-base;
  justify-content: flex-start;
}

.helper--spacing-right {
  @extend %position-base;
  justify-content: flex-end;
}

.helper--spacing-evenly {
  @extend %position-base;
  justify-content: space-evenly;
}

.helper--spacing-between {
  @extend %position-base;
  justify-content: space-between;
}

.helper--spacing-around {
  @extend %position-base;
  justify-content: space-around;
}

.helper--spacing-center {
  @extend %position-base;
  justify-content: center;
  align-items: center;
}
