.Header-Root--style-h1 {
  font-size: 6rem;
  font-weight: 300;
  letter-spacing: -0.09375rem;
}

.Header-Root--style-h2 {
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: -0.03125rem;
}

.Header-Root--style-h3 {
  font-size: 3rem;
  font-weight: normal;
  letter-spacing: 0;
}

.Header-Root--style-h4 {
  font-size: 2.125rem;
  font-weight: normal;
  letter-spacing: 0.015625rem;
}

.Header-Root--style-h5 {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: 0;
}

.Header-Root--style-h6 {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
}

.Body-text {
  padding: 5px 0px;
  line-height: 1.6rem;
  font-feature-settings: "lnum";
  @include body-type-sizes;
  @include body-type-weights;
  @include effects;
}
