.body-text {
  padding: 5px 0px;
  line-height: 1.6rem;
  font-feature-settings: "lnum";
  font-family: "Raleway-Regular";
  @include body-type-sizes;
  @include body-type-weights;
  @include effects;
}
