@import "../styles/_variables";

.Card-root {
  @include RegularFont;
  background: white;

  display: flex;
  @for $i from 1 through 5 {
    .shadow-v#{$i} {
      width: inherit;
      height: inherit;
      box-sizing: border-box;
      box-shadow: 0px 0px $i * $i * 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
}
