@import "../styles/_variables";

.Card-root {
  @include RegularFont;
  background: white;
  display: grid;
  grid-template-areas:
    "CardTitle-root"
    "CardImage-root"
    "CardContent-root";
}

.Card-size-fill {
  width: 100%;
}
.Card-size-small {
  width: 250px;
}
.Card-size-medium {
  width: 350px;
}
.Card-size-large {
  width: 450px;
}
.Card-size-xlarge {
  width: 550px;
}

@for $i from 1 through 5 {
  .Card-shadow-v#{$i} {
    box-sizing: border-box;
    box-shadow: 0px 0px $i * $i * 1px 1px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.1;
    &:hover {
      box-shadow: 0px 0px $i * $i * 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
