@import "../styles/_variables";

.NavigationBar-root {
  width: 100%;
  height: 60px;
  // background: linear-gradient(
  //   80deg,
  //   rgba(2, 0, 36, 0.2) 0%,
  //   rgba(9, 9, 121, 0.4) 0%,
  //   rgba(0, 212, 255, 0.5) 100%
  // );
  display: grid;
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  box-shadow: 0 -1px 3px 0px #777;
  background-color: white;

  .left,
  .right {
    align-items: center;
    display: flex;
    padding: 0 10px;

    .Link-root {
      margin: 0px 7px;
    }
  }

  .left {
    justify-self: left;
  }
  .right {
    justify-self: right;
  }
}
