.CardImage-root {
  width: 100%;
  position: relative;
  display: flex;
  grid-area: CardImage-root;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.1s;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 100%;
  }
}
