@font-face {
  font-family: "Raleway-Light";
  src: url("./fonts/Raleway-Light.ttf") format("truetype");
}

@mixin LightFont {
  font-family: "Raleway-Light", sans-serif;
  font-size: 1rem;
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@mixin ThinFont {
  font-family: "Raleway-Thin", sans-serif;
  font-size: 1rem;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@mixin RegularFont {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1rem;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("./fonts/Raleway-Medium.ttf") format("truetype");
}

@mixin MediumFont {
  font-family: "Raleway-Medium", sans-serif;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./fonts/Raleway-Bold.ttf") format("truetype");
}

@mixin BoldFont {
  font-family: "Raleway-Bold", sans-serif;
}
