@font-face {
  font-family: "Raleway-Light";
  src: url("./fonts/Raleway-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@mixin RegularFont {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1rem;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}
