@font-face {
  font-family: "Raleway-Light";
  src: url("./fonts/Raleway-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("./fonts/Raleway-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("./fonts/Raleway-Bold.ttf") format("truetype");
  font-display: swap;
}

// Variables

$body-type-size-small: 0.8rem;
$body-type-size-normal: 1rem;
$body-type-size-large: 1.3rem;

// Helpers
@import "./Components/_Helpers";

// Typography
@import "./Components/_Typography";

// Components
.page-root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  &__content {
    @include scrollable;
    padding: 3%;
  }
}
