$BG: linear-gradient(
  11deg,
  rgba(2, 0, 36, 0.5) 0%,
  rgba(9, 9, 121, 0.5) 0%,
  rgba(0, 212, 255, 0.5) 100%
);

.Page-root {
  display: flex;
  background: $BG;

  .Page-content {
    background: none;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;
  }
}
