@import "../styles/_variables";

.Text-root {
  padding: 5px 0px;
  line-height: 1.6rem;
  font-feature-settings: "lnum";
}

.Text-thin {
  @include ThinFont;
}

.Text-light {
  @include LightFont;
}

.Text-regular {
  @include RegularFont;
}

.Text-bold {
  @include BoldFont;
}
